* {
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-areas: 'result result result result'
        'row1 row1 row1 row1'
        'row2 row2 row2 row2'
        'row3 row3 row3 row3'
        'row4 row4 row4 row4'
        'row5 row5 row5 row5';
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: .8fr repeat(5, 1fr);
    /* max-width: 400px;
    max-height: 650px; */

}


.result {
    grid-area: result;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: flex-end;
    background-color: black;
    color: white;
    font-size: 35px;
    font-family: monospace;
    padding-right: 5px;
}

main div {
    display: grid;
}

.row-1 {
    grid-area: row1;

    grid-template-columns: 2fr 1fr 1fr;
}



.row-2 {
    grid-area: row2;
    grid-template-columns: repeat(4, 1fr);
}

.row-3 {
    grid-area: row3;
    grid-template-columns: repeat(4, 1fr);
}

.row-4 {
    grid-area: row4;
    grid-template-columns: repeat(4, 1fr);
}

.row-5 {
    grid-area: row5;
    grid-template-columns: 3fr 1fr;
}


button {
    background-color: #d8d9db;
    border: none;
    font-size: 35px;
    padding: 0px;
    margin: 0.75px;
}

button:hover {
    background-color: rgb(227, 228, 230);
    cursor: pointer;
    margin: 1.5px;
}

.orange {
    color: white;
    background-color: #df974c;

}

.orange:hover {
    background-color: rgb(242, 170, 95);
    cursor: pointer;
}